* {
    transition: all 0.3s;
    font-family: cursive;
    text-align: center;
}

body {
    background: linear-gradient(to top left, #bf2e34, #753682 50%, #bf2e34 100%);
    background-attachment: fixed;
    opacity: 0.7;

}

h1 {
    font-size: 40px;
}

button:not(.dise) {
    display: flex;
    padding: 30px 45px;
    border-radius: 35px;
    border: none;
    font-size: 17px;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
    margin: 70px auto;
}

button:not(.dise):hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 30px rgb(0, 0, 0.15);
}

button:not(.dise):active {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 40px rgb(0, 0, 0.15);
}


div {
    display: flex;
}

.P1,
.P2 {
    margin: auto;
    margin-top: 20px;
    padding: 80px 180px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgb(0, 0, 0.15);
}

.P1:hover,
.P2:hover {
    transform: scale(1.015, 1.015);
    box-shadow: 0 10px 40px rgb(0, 0, 0.15);
}

.pl1,
.pl2 {
    color: #c7365f;
    font-size: 50px;
    padding: 30px 10px;
}

.current1,
.current2 {
    font-size: 25px;
    margin: 0 auto;
}

.dise {
    background: none;
    border: none;
}

.ds {
    width: 100px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgb(0, 0, 0.15);

}

.ds:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 30px rgb(0, 0, 0.15);
}

.ds:active {
    transform: scale(1.2, 1.2);
    box-shadow: 0 10px 40px rgb(0, 0, 0.15);

}

.Box {
    background-color: #C7365F;
    color: #FFFFFF;
    margin: 100px auto;
    padding: 10px 50px;
    border-radius: 25px;
}