* {
    transition: all 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background: linear-gradient(to top left, #A1C0Eb, #bf2e34);
    background-attachment: fixed;
    opacity: 0.7;

}

p {
    font-size: 20px;
}

button {
    display: flex;
    padding: 35px 45px;
    border-radius: 35px;
    border: none;
    box-shadow: 0 0 30px #2B2B2B;
    margin: 100px auto;
}

button:hover {
    transform: scale(1.05, 1.05);
    opacity: 1.0;
}

button:active {
    transform: scale(1.1, 1.1);
}


div {
    display: flex;
}

.P1,
.P2 {
    margin: auto;
    margin-top: 20px;
    padding: 90px 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 30px #2B2B2B;
}

.P1:hover,
.P2:hover {
    transform: scale(1.015, 1.015);
}

.pl1,
.pl2 {
    /* background-color: #B75170; */
    /* color: aliceblue; */
    color: black;
    font-size: 40px;
    padding: 30px 10px;
    border-radius: 25px;
}

.Box {
    background-color: #a29bfe;
    margin: 100px auto;
    padding: 10px 50px;
    border-radius: 25px;
}